<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>


<script>




</script>

<body style="font-family: 'Rubik', sans-serif;">
  <%- include('./partials/navbar.ejs') %>
    <div class="container">
       <div class="col mt-3">
        <% posts.forEach((element , index) => { %>

      
            <div class="p-2 border rounded mb-2" style="background-color: white;">


              <% const images = element.images.replace(/["\[\]]/g, '').split(','); %>
              <% images.forEach(image => { %>
                <img style="object-fit: scale-down; width: 100%; max-width: 300px;" src="/uploads/admin/<%= image.trim() %>" alt="<%= image.trim() %>">
              <% }) %>
 

            <p class=" text-break"><%= element.messages  %></p>
          </div>
        <% }) %>
       </div>
    
    </div>


    <div class="" style="margin-top: 6rem;">
      <%- include('./partials/chin.ejs' , {number:phonenumber}) %>
  </div>

</body>





</html>