<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>


<script>




</script>

<body style="font-family: 'Rubik', sans-serif;">
  <%- include('./partials/navbar.ejs') %>
  <div class="container">
    <div class="col">


        
        <% chats.forEach((element, index) => { %>
            <% if (element.status === 'solved') { %>
                <div class="border p-1 rounded" >
                    <p class="m-0">Your Question Has Been Answered <button class="btn btn-dark btn-sm m-1 " data-bs-toggle="collapse" href="#collapse<%= index %>" role="button" aria-expanded="false" aria-controls="collapse<%= index  %>">  View Notification</button></p>
                
            <div class="collapse" id="collapse<%= index  %>">
                <h4 class="m-1"> By <%= element.name  %></h4>
        
                <% const images = element.image.replace(/["\[\]]/g, '').split(','); %>
                <% images.forEach(image => { %>
                <img style="object-fit: scale-down; width: 100%; max-width: 300px;" src="/uploads/<%= image.trim() %>" alt="<%= image.trim() %>">
                <% }) %>

                <h5 class="my-2">Query</h5>
                <p class="m-1"><%= element.chat  %></p>
                <hr>
                <h5 class="my-2">Answer</h5>
                <div class="p-2 border rounded bg-warning">
                    <p class=""><%= element.reply  %></p>

                </div>
            </div>
            <% } %>
            <% }) %>
        </div>

    </div>
  </div>
</body>





</html>